
/*Global*/
section {
    width: 100%;
    position: fixed;
    align-content: top;
    height: 100vh;
}

/*App bar*/
#Moocus {
    display: inline-block;
     background-color:#00838f;
     width: 60px;
     height: 60px;
}
#chatter-app {
    padding: 10px 0px 30px 20px;
}
.headbar {
background-color: lightgray;
font-size: xx-large;
font-style: bold;
color: #00838f; 
height: 65px;
}

/*Channels list*/
#channels {
position: absolute;
align-content: top;
height: 100vh;
width: 399px;
border-right: 1px solid gray;
}
.channel-list {
    list-style-type: none;
    font-size:large;
}
.channel-name {
    padding: 22px;
    box-sizing: border-box;
    height: 66px;
}

#selected {
    border-right: 1px solid black;
    background: lightgray;
}
li {
    padding: 20px 20px 20px 10px;
}
li  p {
    font-size: small;
    display: inline;
}
.channel-time{
    font-size: small;
    padding-left: 30px;
}

/*Messages*/
.button {
    background-color: #00838f;
    color: white;
   font-size: large;
   text-transform: uppercase;
}
.outgoing_message {
    background-color: lightgray;
    padding: 5px 5px 5px 5px;
    margin: 15px 5px 15px 5px;
    width: 500px;
    max-height: 100px;
}
.incoming_message {
    background-color: #00838f;
    padding: 5px 5px 5px 5px;
    margin: 15px 5px 15px 5px;
    width: 500px;
}
strong {
    font-size: large;
    color:#00838f;
} 
#chat {
    position: relative;
    left: 400px;
    height: 100vh;
    width: calc(100%-400px);
    padding: 0px 0px 0px 5px;
}
#chat-area {
    padding: 10px 0px 0px 0px;
}
#time {
    font-size: small;
    padding-left: 0px;
}